@media ( max-width: 480px ) {

    .header-wraper {
        justify-content: space-around;
        
        nav {
            display: none;
        }
        .burger-icon {
            display: block;
            font-size: 18px;
        }
    }
    .section-1 {
        h6 {
            width: 260px;
            font-size: 18px;
        }
    }
    .section-2 {
        padding: 0 5px;
        .s2-box {
            .s2-mini-box {
                height: 555px;
                img {
                    height: 300px;
                }
                div {
                    h3 {
                        font-size: 20px;
                    }
                    p:nth-child(2) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .footer-wraper {
        .footer-box {
            height: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            align-items: center;
            .footer-minibox {
                margin-top: 50px;
                text-align: center;
                &:nth-child(3) {
                    width: 231px;
                    h3 {
                        font-size: 24px;
                    }
                }
            }
            .footer-payment {
                width: 215px;
                align-items: center;
                margin-top: 50px;
                h3 {
                    width: 100%;
                    font-size: 24px;
                }
            }
        }
        p {
            margin-right: 0;
            margin: 45px auto 0;
        }
    }


















}