@media ( max-width: 770px ) {

    .header-wraper {
        justify-content: space-around;
        .header-img {
            margin-left: 0;
        }
        nav {
            margin-left: 0;
        }
    }
    .section-2 {
        .s2-box {
            .s2-mini-box {
                div {
                    h3 {
                        font-size: 32px;
                    }
                }
            }
        }
    }
    .footer-wraper {
        height: 100%;
        .footer-box {
            max-width: 457px;
            height: 500px;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-evenly;
            .footer-minibox {
                &:nth-child(3) {
                    width: 46%;
                    h3 {
                        font-size: 20px;
                    }
                }
            }
            .footer-payment {
                width: 43%;
                h3 {
                    width: 179px;
                    font-size: 20px;
                }
            }
        }
    }










}
